<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  <div class="auth">
    <app-header></app-header>
  </div>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu *ngIf="user?.Role == 'Admin'" [items]="MenuAdmin"></nb-menu>
    <nb-menu *ngIf="user?.Role == null" [items]="baseMenu"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    
    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
